---
template: default.html
title: Image filters
context: Components
---

<div class="pl-page">
<div class="pl-section">
<div class="pl-container">

    <div class="grid small-grid--full">
                <div class="grid-cell">
                <div class="demo-block-wide">
                                <div class="colorized-bg bw">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                    </div>
                    <div class="grid-cell">
                    <div class="demo-block-wide">
                                <div class="colorized-bg navy">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                    </div>
                    <div class="grid-cell">
                    <div class="demo-block-wide">
                                <div class="colorized-bg gold">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                    </div>
                     <div class="grid-cell">
                    <div class="demo-block-wide">
                                <div class="colorized-bg blue">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                    </div>
                     <div class="grid-cell">
                    <div class="demo-block-wide">
                                <div class="colorized-bg red">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                    <div class="demo-block-wide">
                                <div class="colorized-bg green">
                                    <div class="colorized-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                             </div>
                    </div>
                </div>
                </div>
</div>