---
template: default.html
title: Basic layout
context: Layouts
excerpt: Basic Layout
---

<div class="msu-basic-page">
    <div class="msu-page-intro">
        <div class="grid grid--gutters-xxlarge grid--center">
            <div class="grid-cell u-small-full u-large-3of4 ">
                <h1>Page Title</h1>
                <p class="lede">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
            </div>
            <div class="grid-cell u-small-full u-large-auto">
                <nav class="msu-page-nav">
                    <h5>List title</h5>
                    <ul>
                        <li><a href="">Link One</a></li>
                        <li><a href="">Link Two</a></li>
                        <li><a href="">Link Three</a></li>
                        <li><a href="">Link Four</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="msu-page-content">
        <h2>Section 1 title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
        <h5>Section Subtitle 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
        <h5>Section Subtitle 2</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
        <h2>Section 2 title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
        <h5>Section 2 Subtitle 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in rhoncus nunc. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut mi velit, facilisis vel facilisis eu, interdum feugiat nibh. Aenean consectetur ut mi molestie laoreet.</p>
    </div>
</div>