---
template: default.html
title: Academic Program Cards
context: Components
excerpt: Cards of varying dimensions that offer varying information.
---
<div class="pl-page">
<div class="pl-section">

    <div class="pl-container">
    <h1 class="pl-section-title">Simple overlay card</h1>
 
        <div class="grid small-grid--full grid--gutters-small med-grid--1of3">
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="pl-section">
        <div class="pl-container">
        <h1 class="pl-section-title">Colorized Card with colored content block</h1>
  
        
        <div class="grid small-grid--full grid--gutters-small med-grid--1of3">
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg navy">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <div class="college">College of business</div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg gold-navy">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <div class="college">College of business</div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg blue">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <div class="college">College of business</div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="pl-section">
        <div class="pl-container">
        <h1 class="pl-section-title">Colorized Card with colored content block 2</h1>
   
         <div class="grid small-grid--full grid--gutters-small med-grid--1of3">
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg navy">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="college">College of business</div>
                                
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg gold-navy">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="college">College of business</div>
                                
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="colorized-bg blue">
                            <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                            <div class="msu-card-copy block overlay">
                                <div class="bar"></div>
                                <h1 class="msu-card-title big">Accounting</h1>
                                <div class="college">College of business</div>
                                
                                <div class="msu-card-tags plain big">
                                    <div class="msu-card-tag major is-active">Major</div>
                                    <div class="msu-card-tag minor">Minor</div>
                                    <div class="msu-card-tag graduate is-active">Graduate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="pl-section">
        <div class="pl-container">
        <h1 class="pl-section-title">Card with colored content block</h1>

        <div class="grid small-grid--full grid--gutters-small med-grid--1of3">
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay gold">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay navy">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay blue">
                            <div class="bar"></div>
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="pl-section">
        <div class="pl-container">
        <h1 class="pl-section-title">Rejects</h1>
  
        <div class="grid small-grid--full grid--gutters-small med-grid--1of3">
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient  cover"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay center">
                            <div class="college">College of business</div>
                            <h1 class="msu-card-title big">Accounting</h1>
                            <div class="msu-card-tags plain big">
                                <div class="msu-card-tag major is-active">Major</div>
                                <div class="msu-card-tag minor">Minor</div>
                                <div class="msu-card-tag graduate is-active">Graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--1of4 grid--gutters-small">
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient cover"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay center">
                            <div class="college">Context</div>
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">T</div>
                                <div class="msu-card-tag minor">A</div>
                                <div class="msu-card-tag graduate is-active">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient cover"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay center">
                            <div class="college">Context</div>
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">T</div>
                                <div class="msu-card-tag minor">A</div>
                                <div class="msu-card-tag graduate is-active">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient cover"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay center">
                            <div class="college">Context</div>
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">T</div>
                                <div class="msu-card-tag minor">A</div>
                                <div class="msu-card-tag graduate is-active">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient cover"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay center">
                            <div class="college">Context</div>
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">T</div>
                                <div class="msu-card-tag minor">A</div>
                                <div class="msu-card-tag graduate is-active">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="grid grid--between grid--bottom grid--auto">
                                <div class="grid-cell">
                                    <div class="college">Context</div>
                                </div>
                                <div class="grid-cell">
                                    <div class="msu-card-tags">
                                        <div class="msu-card-tag major is-active">T</div>
                                        <div class="msu-card-tag minor">A</div>
                                        <div class="msu-card-tag graduate is-active">G</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="grid grid--between grid--bottom grid--auto">
                                <div class="grid-cell">
                                    <div class="college">Context</div>
                                </div>
                                <div class="grid-cell">
                                    <div class="msu-card-tags">
                                        <div class="msu-card-tag major is-active">T</div>
                                        <div class="msu-card-tag minor">A</div>
                                        <div class="msu-card-tag graduate is-active">G</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="grid grid--between grid--bottom grid--auto">
                                <div class="grid-cell">
                                    <div class="college">Context</div>
                                </div>
                                <div class="grid-cell">
                                    <div class="msu-card-tags">
                                        <div class="msu-card-tag major is-active">T</div>
                                        <div class="msu-card-tag minor">A</div>
                                        <div class="msu-card-tag graduate is-active">G</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card js-modalToggle">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="grid grid--between grid--bottom grid--auto">
                                <div class="grid-cell">
                                    <div class="college">Context</div>
                                </div>
                                <div class="grid-cell">
                                    <div class="msu-card-tags">
                                        <div class="msu-card-tag major is-active">T</div>
                                        <div class="msu-card-tag minor">A</div>
                                        <div class="msu-card-tag graduate is-active">G</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-bkgd"><img src="/images/academics12.jpg" /></div>
                        <div class="msu-card-copy  overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">M</div>
                                <div class="msu-card-tag minor is-active">m</div>
                                <div class="msu-card-tag grad">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-bkgd"><img src="https://unsplash.it/200/300/?random" /></div>
                        <div class="msu-card-copy  overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">M</div>
                                <div class="msu-card-tag minor is-active">m</div>
                                <div class="msu-card-tag grad">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-bkgd"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy  overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">M</div>
                                <div class="msu-card-tag minor is-active">m</div>
                                <div class="msu-card-tag grad">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-gradient"></div>
                        <div class="msu-card-bkgd"><img src="https://source.unsplash.com/random" /></div>
                        <div class="msu-card-copy  overlay">
                            <h1 class="msu-card-title">Card title</h1>
                            <div class="msu-card-tags">
                                <div class="msu-card-tag major is-active">M</div>
                                <div class="msu-card-tag minor is-active">m</div>
                                <div class="msu-card-tag grad">G</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img"><img src="https://source.unsplash.com/user/erondu" /></div>
                    </div>
                    <div class="msu-card-copy">
                        <h1 class="msu-card-title">Accounting</h1>
                        <div class="msu-card-tags">
                            <div class="msu-card-tag major is-active">M</div>
                            <div class="msu-card-tag minor is-active">m</div>
                            <div class="msu-card-tag grad">G</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img"><img src="https://unsplash.it/200/300/?random" /></div>
                    </div>
                    <div class="msu-card-copy">
                        <h1 class="msu-card-title">Agriculture</h1>
                        <div class="msu-card-tags">
                            <div class="msu-card-tag major is-active">M</div>
                            <div class="msu-card-tag minor is-active">m</div>
                            <div class="msu-card-tag grad">G</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img"><img src="https://source.unsplash.com/random" /></div>
                    </div>
                    <div class="msu-card-copy">
                        <h1 class="msu-card-title">Biology</h1>
                        <div class="msu-card-tags">
                            <div class="msu-card-tag major is-active">M</div>
                            <div class="msu-card-tag minor">m</div>
                            <div class="msu-card-tag grad is-active">G</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                    <div class="msu-card-inner">
                        <div class="msu-card-img"><img src="/images/academics12.jpg" /></div>
                    </div>
                    <div class="msu-card-copy">
                        <h1 class="msu-card-title">Nursing</h1>
                        <div class="msu-card-tags">
                            <div class="msu-card-tag major is-active">M</div>
                            <div class="msu-card-tag minor is-active">m</div>
                            <div class="msu-card-tag grad">G</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    <div class="pl-section">
        <div class="pl-container">
            <div class="academics-modal-program-card">
                <div class="i-close"></div>
                <div class="program-inner">
                    <div class="program-main">
                        <div class="program-header">
                            <h1 class="program-title">Program title</h1>
                            <div class="program-tags">
                                <div class="tag major is-active">M</div>
                                <div class="tag minor is-active">m</div>
                                <div class="tag grad is-active">G</div>
                            </div>
                        </div>
                        <div class="program-overview">
                            <h3>Overview</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nemo perspiciatis cum doloribus corporis porro animi unde nihil deserunt vel ea sequi totam, dicta ab, quas? Quo, velit cumque odio?</p>
                            <h3>Careers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nemo perspiciatis cum doloribus corporis porro animi unde nihil deserunt vel ea sequi totam, dicta ab, quas? Quo, velit cumque odio?</p>
                        </div>
                        <h2 class="program-subtitle">More info</h2>
                        <ul>
                            <li><a href="">Undergraduate info</a></li>
                            <li><a href="">Graduate info</a></li>
                        </ul>
                    </div>
                    <div class="program-aside">
                        <div class="program-image"><img src="https://unsplash.it/200/300/?random" /></div>
                        <div class="program-contact-info">
                            <div class="button">Department website</div>
                            <h2 class="program-subtitle">Department Contact</h2>
                            <div class="program-contact-item" href=""><span class="i-phone"></span>(000) 111 - 2222</div>
                            <div class="program-contact-item" href=""><span class="i-email"></span><a href="">email@email.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-section">
        <div class="pl-container">
            <div class="academics-modal-program-card academics-modal-program-card--v2">
                <div class="i-close"></div>
                <div class="program-inner">
                    <div class="program-main">
                        <div class="main-inner">
                            <div class="program-header">
                                <h1 class="program-title">Program title</h1>
                                <div class="program-tags">
                                    <div class="tag major is-active">M</div>
                                    <div class="tag minor is-active">m</div>
                                    <div class="tag grad is-active">G</div>
                                </div>
                            </div>
                            <div class="program-overview">
                                <h3>Overview</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nemo perspiciatis cum doloribus corporis porro animi unde nihil deserunt vel ea sequi totam, dicta ab, quas? Quo, velit cumque odio?</p>
                                <h3>Careers</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nemo perspiciatis cum doloribus corporis porro animi unde nihil deserunt vel ea sequi totam, dicta ab, quas? Quo, velit cumque odio?</p>
                            </div>
                            <h2 class="program-subtitle">More info</h2>
                            <ul>
                                <li><a href="">Undergraduate info</a></li>
                                <li><a href="">Graduate info</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="program-aside">
                        <div class="program-image"><img src="https://unsplash.it/200/300/?random" />
                            <div class="button">Department website</div>
                        </div>
                        <div class="program-contact-info">
                            <h2 class="program-subtitle">Department Contact</h2>
                            <div class="program-contact-item" href=""><span class="i-phone"></span>(000) 111 - 2222</div>
                            <div class="program-contact-item" href=""><span class="i-email"></span><a href="">email@email.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-section">
        <div class="pl-container">
            <div class="academics-modal-program-card academics-modal-program-card--v2">
                <div class="i-close"></div>
                <div class="program-inner">
                    <div class="program-main">
                        <div class="main-inner">
                            <div class="program-header">
                                <h1 class="program-title">Program title</h1>
                                <div class="program-tags">
                                    <div class="tag major is-active">M</div>
                                    <div class="tag minor is-active">m</div>
                                    <div class="tag grad is-active">G</div>
                                </div>
                            </div>
                            <div class="program-overview">
                                <div class="program-tabs js-program-tabs">
                                    <div class="tabs-header">
                                        <ul class="tabs">
                                            <li class="tab-item"><a class="tab-link js-tab is-active">tab</a></li>
                                            <li class="tab-item"><a class="tab-link js-tab">tab</a></li>
                                            <li class="tab-item"><a class="tab-link js-tab">tab</a></li>
                                            <li class="tab-item"><a class="tab-link js-tab">tab</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content js-tabContent">
                                        <div class="tab-content-item js-tabContentItem is-active">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores aspernatur facilis dicta ex reiciendis, molestias esse nulla, consequatur facere aliquid, est quam ea eius quos nihil necessitatibus in similique.</p>
                                        </div>
                                        <div class="tab-content-item js-tabContentItem">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores aspernatur facilis dicta ex reiciendis, molestias esse nulla, consequatur facere aliquid, est quam ea eius quos nihil necessitatibus in similique.</p>
                                        </div>
                                        <div class="tab-content-item js-tabContentItem">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores aspernatur facilis dicta ex reiciendis, molestias esse nulla, consequatur facere aliquid, est quam ea eius quos nihil necessitatibus in similique.</p>
                                        </div>
                                        <div class="tab-content-item js-tabContentItem">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores aspernatur facilis dicta ex reiciendis, molestias esse nulla, consequatur facere aliquid, est quam ea eius quos nihil necessitatibus in similique.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="program-subtitle">More info</h2>
                            <ul>
                                <li><a href="">Undergraduate info</a></li>
                                <li><a href="">Graduate info</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="program-aside">
                        <div class="program-image"><img src="https://unsplash.it/200/300/?random" />
                            <div class="button">Department website</div>
                        </div>
                        <div class="program-contact-info">
                            <h2 class="program-subtitle">Department Contact</h2>
                            <div class="program-contact-item" href=""><span class="i-phone"></span>(000) 111 - 2222</div>
                            <div class="program-contact-item" href=""><span class="i-email"></span><a href="">email@email.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-section">
        <div class="pl-container">
            <div class="js-modalToggle">Toggle modal</div>
            <div class="msu-modal js-modal">
                <div class="msu-modal-background"></div>
                <div class="msu-modal-close js-closeModal"></div>
                <div class="msu-modal-wrapper">
                    <div class="msu-modal-program-card">
                        <div class="program-card-main">
                            <h1 class="program-title">Program title</h1>
                            <div class="program-tags">
                                <div class="program-tag major is-active">M</div>
                                <div class="program-tag minor is-active">m</div>
                                <div class="program-tag grad is-active">G</div>
                            </div>
                            <div class="program-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad voluptatum, pariatur impedit et alias, aliquam ipsa assumenda itaque omnis tempore ea inventore rem fugiat quisquam fugit! Officia, nulla non.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad voluptatum, pariatur impedit et alias, aliquam ipsa assumenda itaque omnis tempore ea inventore rem fugiat quisquam fugit! Officia, nulla non.</p>
                            </div>
                            <div class="program-links">
                                <h2 class="program-links-title">More info</h2>
                                <ul class="program-link-list">
                                    <li class="program-link-item"><a class="program-link" href="">Undergraduate info</a></li>
                                    <li class="program-link-item"><a class="program-link" href="">Graduate info</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="program-card-aside">
                            <div class="program-image"><img src="https://unsplash.it/200/300/?random" />
                                <div class="program-contact-box">
                                    <div class="program-contact-box-wrapper">
                                        <h3 class="program-contact-title">Department Contact</h3>
                                        <ul class="program-contact-items">
                                            <li class="program-contact-item" href="">(000) 111 - 2222</li>
                                            <li class="program-contact-item" href=""><a href="">email@email.com</a></li>
                                        </ul>
                                        <div class="department-button">Department website</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script>
$(document).ready(function() {


    $('.js-modalToggle').on('click', function() {
        $('.js-modal').toggleClass('is-active');
    });
    $('.js-closeModal').on('click', function() {
        $('.js-modal').removeClass('is-active');
    })
});
</script>


