html {
    font-family: $base-font-family;

    line-height: $base-line-height / $base-font-size;


    color: $base-text-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

@mixin font-smoothing(){
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}



dt {
    font-weight: 600;
}






