.menu-button {
	@include icon("menu","white","48");
	border-bottom: 0;
	opacity: 0.25;
	position: absolute;
	left: 0;
	padding: $padding;
	top: 50%;
	transform: translateY(-50%);
	&:hover {
		opacity: 0.75;
	}
	&.is-toggled {
		opacity: 1;
	}
}

.site-header {
	position: relative;
}

.page-context {
    @include typl8-smallcaps();
    color: $msu-navy;
}



.site-navigation {
	@extend %transition--off-canvas;
	width: 25%;
	transform: translateX(-100%);
	position: fixed;
	height: 100%;
	z-index: 2000;
	padding-left: $padding;


	
	background: $light-grey;
	ul {
		@extend %container;
		@extend %base-text--bigger;
		padding-top: $padding;
		padding-bottom: $padding;
		color: #fff;
		ul {
			font-size: 1rem;
			padding-top: $padding--tiny;
			padding-bottom: $padding--small;
			a {
				font-weight: 500;
				color: $dark-grey;
			}
		}
	}
	a {
		color: $medium-grey;
		@extend %link--no-decoration;
		font-weight: 600;
		&.is-current,
		&:hover {
			color: $msu-blue--bright;
		}
	}
}


.site-navigation.is-visible {
	transform: translateX(0%);
	
}

.pl-page-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(black,.5);
	&.is-active {
		z-index: 1000;
		opacity: 1;
	}

}

