$base-font-family: "freight-sans-pro", myriad-pro, sans-serif;
$base-serif: "freight-text-pro";
$base-font-size: 19px !default;
$base-line-height: 30.44px !default; //19px * 1.6
$base-text-color: #484848 !default;
$base-background-color: #fff !default;
$base-spacing-unit: ($base-line-height / $base-font-size);
$strong: 600;








