
.icon {
    
}

.icon:before {
    content:' ';
    font-size: 10px;
    vertical-align:center;
    display: inline-block;
    background-image: url("images/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.8em 216em;
}

.no-svg .icon:before {
    background-image: url("images/svg/sprite.png");
}
$icons: (


business-grey-24:(
    background-position: 0em 0em,
    width: 2.4em,
    height: 2.4em,
),


business-grey-48:(
    background-position: 0em -2.4em,
    width: 4.8em,
    height: 4.8em,
),


business-msu-blue-24:(
    background-position: 0em -7.2em,
    width: 2.4em,
    height: 2.4em,
),


business-msu-blue-48:(
    background-position: 0em -9.6em,
    width: 4.8em,
    height: 4.8em,
),


business-white-24:(
    background-position: 0em -14.4em,
    width: 2.4em,
    height: 2.4em,
),


business-white-48:(
    background-position: 0em -16.8em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-grey-24:(
    background-position: 0em -21.6em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-grey-48:(
    background-position: 0em -24em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-msu-blue-24:(
    background-position: 0em -28.8em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-msu-blue-48:(
    background-position: 0em -31.2em,
    width: 4.8em,
    height: 4.8em,
),


chevron_left-white-24:(
    background-position: 0em -36em,
    width: 2.4em,
    height: 2.4em,
),


chevron_left-white-48:(
    background-position: 0em -38.4em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-grey-24:(
    background-position: 0em -43.2em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-grey-48:(
    background-position: 0em -45.6em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-msu-blue-24:(
    background-position: 0em -50.4em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-msu-blue-48:(
    background-position: 0em -52.8em,
    width: 4.8em,
    height: 4.8em,
),


chevron_right-white-24:(
    background-position: 0em -57.6em,
    width: 2.4em,
    height: 2.4em,
),


chevron_right-white-48:(
    background-position: 0em -60em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-grey-24:(
    background-position: 0em -64.8em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-grey-48:(
    background-position: 0em -67.2em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-msu-blue-24:(
    background-position: 0em -72em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-msu-blue-48:(
    background-position: 0em -74.4em,
    width: 4.8em,
    height: 4.8em,
),


expand_less-white-24:(
    background-position: 0em -79.2em,
    width: 2.4em,
    height: 2.4em,
),


expand_less-white-48:(
    background-position: 0em -81.6em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-grey-24:(
    background-position: 0em -86.4em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-grey-48:(
    background-position: 0em -88.8em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-msu-blue-24:(
    background-position: 0em -93.6em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-msu-blue-48:(
    background-position: 0em -96em,
    width: 4.8em,
    height: 4.8em,
),


expand_more-white-24:(
    background-position: 0em -100.8em,
    width: 2.4em,
    height: 2.4em,
),


expand_more-white-48:(
    background-position: 0em -103.2em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-grey-24:(
    background-position: 0em -108em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-grey-48:(
    background-position: 0em -110.4em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-msu-blue-24:(
    background-position: 0em -115.2em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-msu-blue-48:(
    background-position: 0em -117.6em,
    width: 4.8em,
    height: 4.8em,
),


insert_photo-white-24:(
    background-position: 0em -122.4em,
    width: 2.4em,
    height: 2.4em,
),


insert_photo-white-48:(
    background-position: 0em -124.8em,
    width: 4.8em,
    height: 4.8em,
),


mail-grey-24:(
    background-position: 0em -129.6em,
    width: 2.4em,
    height: 2.4em,
),


mail-grey-48:(
    background-position: 0em -132em,
    width: 4.8em,
    height: 4.8em,
),


mail-msu-blue-24:(
    background-position: 0em -136.8em,
    width: 2.4em,
    height: 2.4em,
),


mail-msu-blue-48:(
    background-position: 0em -139.2em,
    width: 4.8em,
    height: 4.8em,
),


mail-white-24:(
    background-position: 0em -144em,
    width: 2.4em,
    height: 2.4em,
),


mail-white-48:(
    background-position: 0em -146.4em,
    width: 4.8em,
    height: 4.8em,
),


menu-grey-24:(
    background-position: 0em -151.2em,
    width: 2.4em,
    height: 2.4em,
),


menu-grey-48:(
    background-position: 0em -153.6em,
    width: 4.8em,
    height: 4.8em,
),


menu-msu-blue-24:(
    background-position: 0em -158.4em,
    width: 2.4em,
    height: 2.4em,
),


menu-msu-blue-48:(
    background-position: 0em -160.8em,
    width: 4.8em,
    height: 4.8em,
),


menu-white-24:(
    background-position: 0em -165.6em,
    width: 2.4em,
    height: 2.4em,
),


menu-white-48:(
    background-position: 0em -168em,
    width: 4.8em,
    height: 4.8em,
),


search-grey-24:(
    background-position: 0em -172.8em,
    width: 2.4em,
    height: 2.4em,
),


search-grey-48:(
    background-position: 0em -175.2em,
    width: 4.8em,
    height: 4.8em,
),


search-msu-blue-24:(
    background-position: 0em -180em,
    width: 2.4em,
    height: 2.4em,
),


search-msu-blue-48:(
    background-position: 0em -182.4em,
    width: 4.8em,
    height: 4.8em,
),


search-white-24:(
    background-position: 0em -187.2em,
    width: 2.4em,
    height: 2.4em,
),


search-white-48:(
    background-position: 0em -189.6em,
    width: 4.8em,
    height: 4.8em,
),


sort-grey-24:(
    background-position: 0em -194.4em,
    width: 2.4em,
    height: 2.4em,
),


sort-grey-48:(
    background-position: 0em -196.8em,
    width: 4.8em,
    height: 4.8em,
),


sort-msu-blue-24:(
    background-position: 0em -201.6em,
    width: 2.4em,
    height: 2.4em,
),


sort-msu-blue-48:(
    background-position: 0em -204em,
    width: 4.8em,
    height: 4.8em,
),


sort-white-24:(
    background-position: 0em -208.8em,
    width: 2.4em,
    height: 2.4em,
),


sort-white-48:(
    background-position: 0em -211.2em,
    width: 4.8em,
    height: 4.8em,
),


)

