---
template: default.html
title: Search Headers
context: Components
excerpt: Big ole search bar inside of a header
---

<div class="pl-page">
<div class="pl-section">
    <div class="search-header">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-2of3">
            <div class="bar"></div>
            <h3 class="page-title">Academics</h3>
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar flat">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
            <div class="bar"></div>
            <h3 class="page-title">Academics</h3>
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar flat">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar flat">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header overlapped">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar flat">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar raised">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header overlapped">

    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar raised">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header">
<div class="search-header-bg colorized-bg">
<div class="bg-img colorized-img"><img src="/images/bg-8.png"/></div>

</div>
    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar raised">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
<div class="pl-section">
    <div class="search-header overlapped">
<div class="search-header-bg colorized-bg">
<div class="bg-img colorized-img"><img src="/images/bg-8.png"/></div>

</div>
    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
            <div class="bar"></div>
            <h3 class="page-title">Academics</h3>
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar raised">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>
</div>
</div>







<!--
<div class="msu-search-header">
    <div class="msu-wrapper">
        <div class="msu-search">
            <input class="msu-search-input" type="search" placeholder="Search" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="black" opacity="1"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="msu-search-header">
    <div class="msu-wrapper">
        <div class="msu-search">
            <input class="msu-search-input" type="search" placeholder="Search" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="black" opacity="1"></path>
                </svg>
            </div>
        </div>
        <div class="msu-filters">
            <a class="msu-filter is-active">Majors</a>
            <a class="msu-filter">Minors</a>
            <a class="msu-filter">News</a>
        </div>
    </div>
</div>
<div class="msu-video-search-header">
    <div class="msu-background-video">
        <div class="msu-vide" data-vide-bg="mp4: http://www.murraystate.edu/commencement/commencement-clip.mp4, poster: //murraystate.edu/zz_opportunity-afforded/images/poster.png" data-vide-options="loop: true, muted: true, position: 0% 0%,  playbackRate: 1" style="position: relative;"></div>
    </div>
    <div class="msu-bottom-gradient"></div>
    <div class="msu-wrapper">
        <h1>Discover your butt</h1>
        <div class="msu-search">
            <input class="msu-search-input" type="search" placeholder="Search rear ends" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="#fdb927" opacity="1"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="msu-video-search-header">
    <!--<div class="big-logo"></div>
    <div class="msu-background-video">
        <div class="msu-vide" data-vide-bg="mp4: http://www.murraystate.edu/commencement/commencement-clip.mp4, poster: //murraystate.edu/zz_opportunity-afforded/images/poster.png" data-vide-options="loop: true, muted: true, position: 0% 0%,  playbackRate: 1" style="position: relative;"></div>
    </div>
    <div class="msu-bottom-gradient"></div>
    <div class="msu-wrapper">
        <h1>Discover your butt</h1>
        <div class="grid grid--between">
            <div class="grid-cell u-1of2">
                <p class="msu-lead-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione harum eos cumque dolorem nulla labore similique magnam.</p>
            </div>
            <div class="grid-cell u-1of4">
                <ul>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                    <li><a href="">Link</a></li>
                </ul>
            </div>
        </div>
        <div class="msu-search">
            <input class="msu-search-input" type="search" placeholder="Search rear ends" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="#fdb927" opacity="1"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="msu-search-header">
    <div class="msu-wrapper">
        <div class="msu-search">
            <input class="msu-search-input" type="search" placeholder="Search" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="black" opacity="1"></path>
                </svg>
            </div>
        </div>
        <div class="msu-toolbar">
            <div class="grid grid--auto grid--between">
                <div class="grid-cell">
                    <div class="msu-filters">
                        <a class="msu-filter is-active">Majors</a>
                        <a class="msu-filter">Minors</a>
                        <a class="msu-filter">News</a>
                    </div>
                </div>
                <div class="grid-cell">
                    <div class="msu-toggles">
                        <a class="msu-toggler">Layout toggler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pl-page">
    <div class="pl-section">
        <div class="pl-container">
            <div class="msu-search raised">
            <input class="msu-search-input" type="search" placeholder="Search" required/>
            <div class="msu-clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" fill="black" opacity="1"></path>
                </svg>
            </div>
        </div>
        </div>
    </div>
</div>
-->




        




<script src="http://vodkabears.github.io/vide/js/jquery.vide.min.js"></script>