---
template: default.html
title: Page sections
context: Components
---
<div class="pl-page">
<div class="pl-container">
    <div class="pl-section">
        
            <h1 class="pl-section-title">Basic</h1>
            <div class="page-section">
         
            <div class="demo-bg theme-blue"></div>
                <div class="demo-block">
                 
                </div>
                </div>
            
            <div class="pl-container">
            <div class="page-section">
            <div class="pl-container">
            <div class="demo-bg theme-blue"></div>
                <div class="demo-block">
                  
                </div>
                </div>
            </div>
            </div>
        </div>
  
    <div class="pl-section">
        
            <h1 class="pl-section-title">Overlapped</h1>
            <div class="page-section overlapped-bottom">
               <div class="demo-bg theme-blue"></div>
                <div class="demo-block narrow">
                	
                </div>
            </div>
            <div class="pl-container">
            <div class="page-section overlap-top">

            <div class="demo-bg theme-blue"></div>
                <div class="demo-block narrow">
             
                    
                </div>
            </div>
        </div>
    </div>
    <div class="pl-section">
        
            <h1 class="pl-section-title">Angled</h1>
            <div class="page-section">
               <div class="demo-bg theme-blue"></div>
                <div class="demo-block narrow">
                	
                </div>
                <div class="section-separator"><hr class="separator-bar"/></div>

            </div>
            

           
    </div>
    <div class="pl-section">
    <h1 class="pl-section-title">Angled</h1>
            <div class="page-section">
               <div class="demo-bg theme-blue"></div>
                <div class="demo-block narrow">
                	
                </div>
                <div class="section-separator"><hr class="separator-bar rtl"/></div>

            </div>
    	
    </div>
    </div>
</div>

