<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="pl-site">
   
    {% include 'site-header.html' %}

    <main class="site-content">
        <div class="site-content__wrapper">

   
    <main class="pl-site-content">
    
       

            {{ page.content }}
          


    </main>

    <footer class="pl-site-footer">
        <div class="pl-footer">
            {% include 'footer.html' %}
        </div>
    </footer>
    <div class="pl-gradient-bar"></div>
    {% include 'scripts.html' %}

    <div class="pl-page-mask"></div>
    
</body>

</html>
