
<nav class="site-navigation">


<div class="site-navigation">


    <ul class="list--naked">
        <li><a href="{{ site.baseUrl }}demos/base/">Base styles</a> {% include 'base-styles-list.html' %}
        </li>
        <li><a href="{{ site.baseUrl }}demos/objects/">Objects</a> {% include 'objects-list.html' %}
        </li>
        <li><a href="{{ site.baseUrl }}site/components/">Components</a> {% include 'components-list.html' %}
        </li>
        <li><a href="{{ site.baseUrl }}site/layouts/">Layouts</a> {% include 'layouts-list.html' %}
        </li>
    </ul>

</nav>

   
</div>


