<header class="pl-site-header">
<nav class="pl-site-nav">
<div class="grid grid--auto grid--end">
<div class="grid-cell">
	<ul>
	<li><a href="{{ site.baseUrl }}site/objects/">Objects</a></li>
		<li><a href="{{ site.baseUrl }}site/components/">Components</a></li>
		<li><a href="{{ site.baseUrl }}site/layouts/">Layouts</a></li>

	</ul>
	</div>
	</div>
</nav>
<div class="pl-site-header-bg theme-purple">

	<svg version="1.1" id="header-circle" class="theme-purple" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="452px" height="452px" viewBox="-29 31 452 452" style="enable-background:new -29 31 452 452;" xml:space="preserve">
  <style type="text/css">
    .circle{fill:url(#circle-gradient);}
  </style>
  <linearGradient x1="41.4645626%" y1="1.83170372%" x2="59.9934474%" y2="98.5601858%" id="circle-gradient">
    <stop stop-color="#669CFF" offset="0%"></stop>
    <stop stop-color="#4B88FA" offset="33.5483499%"></stop>
    <stop stop-color="#BB69FF" offset="71.4983259%"></stop>
    <stop stop-color="#C782FF" offset="100%"></stop>
  </linearGradient>
  <path class="circle" d="M417.9,214.1C394.2,92.1,276,12.4,154.1,36.1C32.1,59.8-47.6,178-23.9,299.9c23.7,122,141.8,201.6,263.8,177.9 C361.9,454.2,441.6,336,417.9,214.1z M239.4,474.9C119,498.3,2.5,419.7-20.9,299.4C-39.2,205.5,4.6,113.9,81.9,67.1 c21.8-13.2,46.2-22.9,72.7-28C275,15.7,391.5,94.3,414.9,214.6S359.7,451.5,239.4,474.9z"></path>
</svg>
<svg version="1.1" id="header-triangle" class="theme-purple" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="462px" height="403px" viewBox="-24 55 462 403" style="enable-background:new -24 55 462 403;" xml:space="preserve">
  <style type="text/css">
    .triangle{fill:url(#triangle-gradient);}
  </style>
  <linearGradient x1="139.847028%" y1="102.519044%" x2="19.3291475%" y2="56.0991065%" id="triangle-gradient">
    <stop stop-color="#669CFF" offset="0%"></stop>
    <stop stop-color="#4B88FA" offset="33.5483499%"></stop>
    <stop stop-color="#BB69FF" offset="71.4983259%"></stop>
    <stop stop-color="#C782FF" offset="100%"></stop>
  </linearGradient>
  <path class="triangle" d="M436.3,455.3l-227.6-398l-1.3-2.3l-1.3,2.3l-228.4,398l-1.3,2.2h2.6h456h2.6L436.3,455.3z M432.4,454.5H-18.4 L207.4,61L432.4,454.5z"></path>
</svg>
<svg version="1.1" id="header-line" class="theme-purple" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1250px" height="3px" viewBox="0 0 1250 3" style="enable-background:new 0 0 1250 3;" xml:space="preserve">
  <style type="text/css">
    .line{fill:url(#line-gradient);}
  </style>
  <linearGradient x1="100%" y1="50%" x2="0" y2="50%" id="line-gradient">
      <stop stop-color="#669CFF" offset="0%"></stop>
      <stop stop-color="#4B88FA" offset="33.5483499%"></stop>
      <stop stop-color="#BB69FF" offset="71.4983259%"></stop>
      <stop stop-color="#C782FF" offset="100%"></stop>
  </linearGradient>
  <rect class="line" width="1250" height="3"></rect>
</svg>
</div>

<div class="pl-site-header-content">
        <div class="pl-container">
            
            <div class="pl-page-context">{{ page.context }}</div>
            <h1 class="pl-page-title">{{ page.title }}</h1>
            <!--<p class="pl-page-excerpt">{{ page.excerpt }}</p>-->
           
        </div>
        </div>
    </header>