---
template: default.html
title: Search Grid 2
context: Components
excerpt: A fancier search grid.
---


<div class="search-header overlapped">
<div class="search-header-bg colorized-bg">
<div class="bg-img colorized-img"><img src="/images/bg-8.png"/></div>

</div>
    
    <div class="container">
    <div class="search-header-wrapper">

        <div class="grid grid--between grid--center">
            <div class="grid-cell u-small-full u-med-1of2">
              <div class="bar"></div>
            <h3 class="page-title">Academics</h3>
      
            
                <p class="search-header-copy"><strong>Discover what you love</strong> with endless opportunities to pursue your passion.</p>

            </div>
            <!--<div class="grid-cell u-small-full u-med-1of4">
          
            <h5>Get started</h5>
            <div><a class="button">Request information</a></div>
            <div><a class="button">Apply</a></div>

               
            </div>-->
          
        </div>
         </div>
        <div class="search">
    <div class="search-helper">Search fields of study</div>
    <div class="search-bar raised">
            <input class="search-input" type="search" placeholder="" required/>
            <div class="search-bar-icon clear-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M0 0h18v18h-18zm0 0h18v18h-18z" fill="none"></path>
                    <path class="_fill-color" d="M14.53 4.53l-1.06-1.06-4.47 4.47-4.47-4.47-1.06 1.06 4.47 4.47-4.47 4.47 1.06 1.06 4.47-4.47 4.47 4.47 1.06-1.06-4.47-4.47z" opacity="1"></path>
                </svg>
            </div>
            <div class="search-bar-icon search-icon"><svg class="icon-search" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.502 11h-.794l-.276-.275C12.407 9.588 13 8.115 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.615 0 3.088-.593 4.225-1.567l.276.274v.792l5 4.99L17.49 16l-4.988-5zM6.5 11C4.014 11 2 8.984 2 6.5 2 4.013 4.014 2 6.5 2 8.985 2 11 4.013 11 6.5 11 8.984 8.985 11 6.5 11z" class="_fill-color" fill-rule="evenodd" opacity="1" ></path></svg></div>
        </div>
        </div>
       
   
    </div>
</div>




<div class="section-separator">
    <hr class="separator-bar rtl"/>
</div>
<div class="page-section overlap-top">
<div class="search-grid">





    <div class="search-grid-container full">

    
        <!--<div class="toolbar">
            <div class="grid grid--auto grid--end">
                <div class="grid-cell">
                   
                    <a class="toolbar-button list-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" id="view_headline-ballblue-24" y="24388">
        <path d="M4 15h16v-2H4v2zm0 4h16v-2H4v2zm0-8h16V9H4v2zm0-6v2h16V5H4z" ></path>
    </svg>
    </a>
                </div>
            </div>
        </div>-->
        <div class="grid small-grid--full grid--gutters-small med-grid--1of3 xlarge-grid--1of4">
      
            
         
            
           
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    
                    <div class="colorized-bg navy">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
                    
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg blue">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
          
         
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg gold-navy">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg red">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
             <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg navy">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg blue">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg red">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
             <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg navy">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="grid-cell">
                <div class="msu-card">
                
                    <div class="msu-card-inner">
                    <div class="colorized-bg blue">
                        <div class="msu-card-img colorized short"><img src="https://source.unsplash.com/user/erondu" /></div>
                        <div class="msu-card-copy block overlay">
                    <div class="bar"></div>
                    <div class="college">College of business</div>

                        <h1 class="msu-card-title big">Accounting</h1>
                        
            
         
                   <div class="msu-card-tags plain big">
                    <div class="msu-card-tag major is-active">Major</div>
                    <div class="msu-card-tag minor">Minor</div>
                    <div class="msu-card-tag graduate is-active">Graduate</div>
                    </div>
            
                   </div>
                       
                    </div>
                    </div>
                    
                </div>
            </div>
            </div>
            </div>
    </div>
    </div>

    <div class="msu-modal-background js-modalBackground"></div>
    <div class="fixed-wrapper js-modal">
    <div class="msu-modal-s3 " tabindex="-1">
     <div class="separator-wrapper"><div class="separator-bar"></div></div>
     <div class="program-content">
    <div class="pl-container">
    <div class="grid grid--gutters-xlarge grid--between">
        <div class="grid-cell u-2of3">
        <div class="program-content">
        <div class="grid grid--between">
            <div class="grid-cell u-2of3"><h1 class="big-card-title">Accounting</h1></div>
            <div class="grid-cell u-full"><div class="program-tags">
                            <div class="program-tag major is-active">M</div>
                            <div class="program-tag minor is-active">m</div>
                            <div class="program-tag grad is-active">G</div>
                        </div></div>
        </div>
        
            
            <p class="msu-lead-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sit, atque, minima dolor repudiandae, suscipit dolores omnis, architecto ad vel in quas cumque reprehenderit? Accusamus ducimus hic incidunt, harum nemo!</p>
            <h3>Subsection</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci temporibus explicabo a aspernatur, officiis rerum repudiandae deleniti, ratione qui quasi sapiente. Nesciunt fuga, voluptates totam aspernatur sapiente, praesentium quis!</p>
             <h3>Subsection</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci temporibus explicabo a aspernatur, officiis rerum repudiandae deleniti, ratione qui quasi sapiente. Nesciunt fuga, voluptates totam aspernatur sapiente, praesentium quis!</p>
             <h3>Subsection</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci temporibus explicabo a aspernatur, officiis rerum repudiandae deleniti, ratione qui quasi sapiente. Nesciunt fuga, voluptates totam aspernatur sapiente, praesentium quis!</p>
            
            </div>
            
        </div>
        <div class="grid-cell u-1of3">
            <div class="program-image"><img src="/images/academics12.jpg" />
            <div class="bg-block"></div>
            </div>
            <div class="program-links">
                            <h4 class="program-links-title">Where next?</h4>
                            <ul class="program-link-list">
                            <li class="program-link-item"><a class="program-link" href="">Department website</a></li>
                                <li class="program-link-item"><a class="program-link" href="">Undergraduate info</a></li>
                                <li class="program-link-item"><a class="program-link" href="">Graduate info</a></li>
                            </ul>
                        </div>

        </div>
    </div>
    
    </div>
     </div>
    <div class="separator-wrapper"><div class="separator-bar"></div></div>
   
    </div>
    </div>
    <!--
    <div class="msu-modal-s2" tabindex="-1">

            
            <div class="msu-modal-wrapper">

                <div class="msu-modal-program-card">
                 <div class="msu-modal-close js-closeModal"></div>
                <div class="msu-modal-program-card-inner">
                    <div class="program-card-main">
                    <div class="program-header">
                        <h1 class="program-title">Program title</h1>
                        <div class="program-tags">
                            <div class="program-tag major is-active">M</div>
                            <div class="program-tag minor is-active">m</div>
                            <div class="program-tag grad is-active">G</div>
                        </div>
                        </div>
                        <div class="program-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad voluptatum, pariatur impedit et alias, aliquam ipsa assumenda itaque omnis tempore ea inventore rem fugiat quisquam fugit! Officia, nulla non.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad voluptatum, pariatur impedit et alias, aliquam ipsa assumenda itaque omnis tempore ea inventore rem fugiat quisquam fugit! Officia, nulla non.</p>
                        </div>
                        <div class="program-links">
                            <h2 class="program-links-title">More info</h2>
                            <ul class="program-link-list">
                            <li class="program-link-item"><a class="program-link" href="">Department website</a></li>
                                <li class="program-link-item"><a class="program-link" href="">Undergraduate info</a></li>
                                <li class="program-link-item"><a class="program-link" href="">Graduate info</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="program-card-aside">
                        <div class="program-image"><img src="https://unsplash.it/200/300/?random" />
                            
                        </div>
                        <div class="program-contact-box">
                                <div class="program-contact-box-wrapper">
                                    <h3 class="program-contact-title">Department Contact</h3>
                                    <ul class="program-contact-items">
                                        <li class="program-contact-item" href="">(000) 111 - 2222</li>
                                        <li class="program-contact-item" href=""><a href="">email@email.com</a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>-->
        
        
        

    <script src="http://vodkabears.github.io/vide/js/jquery.vide.min.js"></script>
    <script>
$(document).ready(function() {

	//Trap tab key inside modal
    var inputs = $('.js-modal').find('select, input, textarea, button, a').filter(':visible');
    var firstInput = inputs.first();
    var lastInput = inputs.last();

    lastInput.on('keydown', function(e) {
        if ((e.which === 9 && !e.shiftKey)) {
            e.preventDefault();
            firstInput.focus();
        }
    });

    //Close modal when esc key is pressed
    $(document).keydown(function(e) {


        if (e.keyCode == 27) {

            $('.js-modal, .js-modalBackground').removeClass('is-active');
        }
    });

    //Close modal when close icon is clicked
    $('.js-closeModal').on('click', function() {
        $('.js-modal, .js-modalBackground').removeClass('is-active');
    })


    //Modal toggler used for demo
    $('.js-modalToggle').on('click', function() {
        $('.js-modal, .js-modalBackground').toggleClass('is-active');
    });
    
});
</script>
