---
template: default.html
title: Animation
context: Grids
excerpt: 
---
<div class="pl-page">
<div class="pl-section">
<div class="pl-container">
<div class="button">Animate</div>
</div>
        <div class="search-grid">
            <div class="search-grid-container">
               
                <div class="grid small-grid--full grid--gutters-small med-grid--1of3 xlarge-grid--1of4">
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg navy">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg blue">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg gold-navy">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg red">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg navy">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="msu-card">
                            <div class="msu-card-inner">
                                <div class="colorized-bg blue">
                                    <div class="msu-card-img short colorized"><img src="https://source.unsplash.com/user/erondu" /></div>
                                    <div class="msu-card-copy block overlay">
                                        <div class="bar"></div>
                                        <div class="college">College of business</div>
                                        <h1 class="msu-card-title big">Accounting</h1>
                                        <div class="msu-card-tags plain big">
                                            <div class="msu-card-tag major is-active">Major</div>
                                            <div class="msu-card-tag minor">Minor</div>
                                            <div class="msu-card-tag graduate is-active">Graduate</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>